---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="flex flex-col gap-5">
			<h1 class="text-3xl">Hola, bienvenido a mi <span class="underline font-semibold">blog personal</span>.</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ad id dolores architecto nulla ipsa voluptatem dolorum rerum eveniet necessitatibus reprehenderit, veritatis doloribus repudiandae et eius rem earum laborum temporibus est numquam a consequatur molestiae, at aliquam! Nam eius aliquam voluptatem doloremque voluptate dicta accusantium cum quos ipsa ipsam odit repellat ab in, saepe commodi enim nulla officiis qui fuga numquam architecto a! In atque recusandae cupiditate similique rerum, inventore iste fuga maiores voluptatibus ipsa iure corporis voluptate dolores repudiandae reiciendis labore autem, necessitatibus neque laboriosam, vitae nostrum temporibus! Numquam iste officia voluptate, tempora consequuntur perferendis placeat suscipit praesentium non.</p>
		</main>
		<Footer />
	</body>
</html>
